.app {
  text-align: center;
  background-image: url("http://i.imgur.com/mVjhbyI.jpg");
}

.app-logo {
  height: 80px;
}

.app-header {
  height: 150px;
  padding: 20px;
  border-bottom: 1px inset white;
  color: white;
}

.app-intro {
  font-size: large;
}

.app-main {
    font-size: large;
    padding-top:35px;
    color: white;

}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
